# --- WordPress core (this repo only tracks custom code under wp-content) ---
/wp-admin/
/wp-includes/
/index.php
/license.txt
/readme.html
/llms.txt
/xmlrpc.php
/wp-*.php
/.htaccess

wp-config.php
.env
*.log
wp-content/uploads/
wp-content/cache/
wp-content/backups/
wp-content/upgrade/
wp-content/debug.log
wp-content/languages/
wp-content/ai1wm-backups/
wp-content/smush-webp/
wp-content/w3tc-config/
wp-content/index.php
# Deploy only our MU plugin + child theme
wp-content/mu-plugins/*
!wp-content/mu-plugins/bst_plugin/
!wp-content/mu-plugins/bst_plugin/**
# MU plugin loader (sibling of bst_plugin/ folder; must not be ignored)
!wp-content/mu-plugins/bst-plugin.php
wp-content/themes/*
!wp-content/themes/althea-wp-child/
!wp-content/themes/althea-wp-child/**
# Ignore other plugins/themes not managed by git deploy
wp-content/plugins/*
